body{
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.buttons{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 0 auto;
    margin-top: 250px;
    padding: 20px;
    width: 300px;
}

.buttons :hover {
    transform: scale(1.05);
    transition: transform 0.3s;
}

.button-left {
    width: 100px;
    top: 20px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}

.button-right {
    width: 100px;
    text-align: center;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #28A745;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    
}

.button-left a, .button-right a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.button-left:hover {
    background-color: #0056b3;  
}   

.button-right:hover {
    background-color: #1e7e34;  
}